<section id="title">
<div class="container mt-2">
	<h1 class="display-1 text-center">{{ page.title | default:site.title }}</h1>
	<nav class="mt-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">NightB1ade’s Sites</a></li>
			{%- if page.title != null %}
			<li class="breadcrumb-item"><a href="{{ '/' | relative_url }}">Board Game Helper</a></li>
			{%- endif %}
			{%- assign crumbs = page.url | remove: "/index.html" | split: "/" %}
			{%- for crumb in crumbs offset: 1 %}
				{%- if forloop.last == false %}
					{%- case crumb %}
					{%- endcase %}
				{%- endif %}
			{%- endfor %}
			<li class="breadcrumb-item active">{{ page.title | default: "Board Game Helper" }}</li>
		</ol>
	</nav>
</div>
</section>
